## Chapter5 LAB

### LAB 5.1
1. 1부터 10까지의 숫자 중에서 짝수를 요소로 가지는 even_list라는 리스트를 생성하여라.(10포함)

In [2]:
even_list = [2,4,6,8,10]
print('even_list =', even_list)

even_list = [2, 4, 6, 8, 10]

2. range() 함수를 이용하여 1번의 문제를 다시 풀어보시오.

In [4]:
even_list = [i for i in range(2,11, 2)]
print('even_list =', even_list)

even_list = [2, 4, 6, 8, 10]

3. 'Korea', 'China', 'India', 'Nepal'의 네 원소를 가지는 nations라는 리스트를 생성하여라. print() 함수를 사용하여 이 리스트를 다음과 같이 출력하여라.

In [5]:
nations = ['Korea', 'China', 'India', 'Nepal']
print('nations =',nations)

nations = ['Korea', 'China', 'India', 'Nepal']

4. 여러분의 친한 친구 5명의 이름을 원소로 가지는 friends라는 리스트를 생성하여라. 그리고 다음과 같이 출력하여라.

In [6]:
friends = ['길동','철수','은지', '지은', '지혜']
print('friends =',friends)

friends = ['길동', '철수', '은지', '지은', '지혜']

5. 'XYZ' 문자열을 이용하여 'X', 'Y', 'Z'라는 요소를 가지는 string이라는 이름의 리스트를 생성하고 다음과 같이 출력하여라.

In [13]:
string = list('XYZ')
print('string =',string)

string = ['X', 'Y', 'Z']

### LAB 5-2
1. 2부터 10까지의 수중에서 소수를 원소를 가지는 prime_list라는 리스트를 생성하여라. 그리고 이 리스트의 가장 첫 원소를 리스트 인덱싱을 이용하여 다음과 같이 출력하여라.<br>
2. 문제 1.의 prime_list의 가장 마지막 원소를 양수 인덱스를 사용하여 출력하여라.<br>
3. 문제 1.의 prime_list의 가장 마지막 원소를 음수 인덱스를 사용하여 출력하여라.

In [5]:
prime_list = []
for n in range(2,11):   # 2~10
    if n%2 == 0 and n!=2:   # 2를 제외하고 2로 나누어 떨어지면 소수가 아님
        continue
    else:
        for i in range(3,int(n**(1/2))+1, 2):   
            if n%i==0:
                break
        else:
            prime_list.append(n)
print('1. prime_list의 첫 원소 :',prime_list[0])
print('2. prime_list의 마지막 원소 :',prime_list[3])
print('3. prime_list의 마지막 원소 :',prime_list[-1])

1. prime_list의 첫 원소 : 2
2. prime_list의 마지막 원소 : 7
3. prime_list의 마지막 원소 : 7

4. 'Korea', 'China', 'Russia', 'Malaysia'를 원소로 가지는 nations라는 리스트를 생성하여라. 그리고 이 리스트의 가장 첫 원소를 print() 함수를 이용하여 출력하여라.<br>
5. 4번에서 생성한 nations 리스트의 가장 마지막 원소를 음수 인덱스를 사용하여 출력하여라<br>
6. 4번에서 생선한 nations 리스트의 가장 마지막 원소를 len(nations)-1 인덱스를 사용하여 출력하여라.<br>

In [9]:
nations = ['Korea', 'China', 'Russia', 'Malaysia']
print('4. nations =',nations[0])
print('5. nations =',nations[-1])
print('6. nations =',nations[len(nations)-1])

4. nations = Korea
5. nations = Malaysia
6. nations = Malaysia

### LAB 5-3
1. 1부터 10까지의 수들 중에서 소수 원소릴 가지는 prime_list라는 리스트를 생성하시오. 그리고 append() 메소드를 사용하여 11을 추가하시오. 이 때 추가 전과 추가 후의 결과를 다음과 같이 출력하시오.

In [7]:
print('소수 목룍 :',prime_list)
prime_list.append(11)
print('추가 후 소수 목룍 :',prime_list)

소수 목룍 : [2, 3, 5, 7]
추가 후 소수 목룍 : [2, 3, 5, 7, 11]

2. 1번 문제의 prime_list라는 리스트에 있는 3이라는 원소를 remove()메소드를 사용하여 제거하시오. 이 때 삭제 전과 삭제 후의 결과를 다음과 같이 출력하시오.

In [8]:
print('삭제 전 소수 목룍 :',prime_list)
prime_list.remove(3)
print('삭제 후 소수 목룍 :',prime_list)

삭제 전 소수 목룍 : [2, 3, 5, 7, 11]
삭제 후 소수 목룍 : [2, 5, 7, 11]

3. append() 메소드를 사용하여 nations list에 'Nepal'을 추가하시오.

In [3]:
print('국가 목록 :',nations)
nations.append('Nepal')
print('추가 후 국가 목룍 :',nations)

국가 목록 : ['Korea', 'China', 'Russia', 'Malaysia']
추가 후 국가 목룍 : ['Korea', 'China', 'Russia', 'Malaysia', 'Nepal']

4. 3번 문제에서, 'Japan'과 'Russia'가 있는지 검사하여 출력하시오.

In [4]:
for i in ['Japan', 'Russia']:
    if i in nations:
        print(f'{i} 는(은) 국가 목록에 있습니다.')
    else:
        print(f'{i} 는(은) 국가 목록에 없습니다.')

Japan 는(은) 국가 목록에 없습니다.
Russia 는(은) 국가 목록에 있습니다.

### LAB 5-4
1. 1부터 10까지의 수중에서 소수 원소를 가지는 prime_list라는 리스트를 생성하고 이들중 최솟값, 최댓값을 다음과 같이 출력하시오. min()과 max(), sum(), len() 내장함수를 사용하여 다음과 같이 출력하시오.

In [8]:
print('1에서 10까지의 소수 :', prime_list)
print('최솟값 :', min(prime_list))
print('최댓값 :', max(prime_list))
print('합계 :', sum(prime_list))
print('평균 :', sum(prime_list)/len(prime_list))

1에서 10까지의 소수 : [2, 3, 5, 7]
최솟값 : 2
최댓값 : 7
합계 : 17
평균 : 4.25

2. nations 리스트에서 사전 순서로 가장 먼저 나오는 나라와 가장 뒤에 나오는 나라를 다음과 같이 출력하시오.

In [10]:
print('국가 목록 :',nations)
nations.sort()
print('사전에 가장 먼저 나오는 나라 :',nations[0])
print('사전에 가장 뒤에 나오는 나라 :',nations[-1])

국가 목록 : ['Korea', 'China', 'Russia', 'Malaysia']
사전에 가장 먼저 나오는 나라 : China
사전에 가장 뒤에 나오는 나라 : Russia

### LAB 5-5
1. a 리스트의 원소 값이 [1,2,3]이고 b 리스트의 원소 값이 [10,20,30]이다. a 리스트에 append(b) 메소드와 extend(b) 메소드를 각각 호출할 때 어떤 결과가 나타날지 예측하시오. 그리소 실제로 수행한 후의 결과를 각각 적으시오.

In [1]:
a = [1,2,3,]
b = [10,20,30]
a.append(b)
print(a)

[1, 2, 3, [10, 20, 30]]

In [2]:
a = [1,2,3,]
b = [10,20,30]
a.extend(b)
print(a)

[1, 2, 3, 10, 20, 30]

2. 1부터 10까지의 정수 값을 원소로 가지는 nlist를 생성하여 다음과 같이 출력하여라.<br>
3. insert() 메소드를 사용하여 nlist의 제일 앞에 0을 삽입하여 다음과 같이 출력하여라.<br>
4. 위의 3번 문제를 통해 만들어진 nlist를 역순으로 다시 배열하여 다음과 같이 출력하여라.<br>
5. nlist의 제일 마지막 원소를 pop() 메소드를 사용하여 반환하여 출력하고 삭제한 후의 nlist를 다음과 같이 출력하여라.

In [10]:
nlist = [ i for i in range(1,11)]
print(f'2. nlist = {nlist}')
nlist.insert(0,0)
print(f'3. nlist = {nlist}')
nlist.reverse()
print(f'4. nlist = {nlist}')
temp = nlist.pop()
print(f'5. 마지막 원소 = {temp}')
print(f'   nlist = {nlist}')

2. nlist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
3. nlist = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
4. nlist = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
5. 마지막 원소 = 0
   nlist = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### LAB 5-6
1. 사용자로부터 정수 n을 입력받아 [1,2,3]이라는 원소를 가지는 리스트를 다음과 같이 지정된 정수 n만큼 반복 출력하여라.

In [12]:
n = int(input('반복할 정수를 입력하시오 : '))
li = []
for i in range(n):
    li.extend([1,2,3])
print(li)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

### LAB 5-7
1. range(15) 함수를 사용하여 다음과 같은 리스트를 생성하여라.

In [14]:
n_list = [i for i in range(15)]
print(f'n_list =',n_list)

n_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

2. 문제 1번의 n_list로부터 슬라이싱을 수행하여 다음과 같은 리스트를 생성하여라.

In [21]:
s_list1 = n_list[0:5]
s_list2 = n_list[5:11]
s_list3 = n_list[11:]
s_list4 = n_list[2:11:2]
s_list5 = n_list[10:5:-1]
s_list6 = n_list[10:1:-2]

print('s_list1 =', s_list1)
print('s_list2 =', s_list2)
print('s_list3 =', s_list3)
print('s_list4 =', s_list4)
print('s_list5 =', s_list5)
print('s_list6 =', s_list6)

s_list1 = [0, 1, 2, 3, 4]
s_list2 = [5, 6, 7, 8, 9, 10]
s_list3 = [11, 12, 13, 14]
s_list4 = [2, 4, 6, 8, 10]
s_list5 = [10, 9, 8, 7, 6]
s_list6 = [10, 8, 6, 4, 2]