Which of the following are valid ways to specify the string literal foo'bar in Python?
And write down the reason why they are valid?

In [5]:
print("""foo'bar""")
print('foo"bar')
print("foo'bar")
print('foo\'bar')
# print('foo'bar')

SyntaxError: unterminated string literal (detected at line 5) (2824261346.py, line 5)

you're given a list ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']. Make the result below using slicing and upper method.

In [7]:
list_a = ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']

list_b =[]
for i in list_a:
    list_b.append(i[:3].upper())
print(list_b)

['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT']

what will be the output?

In [15]:
a = ~9  # -9-1
b = a+4 # -6
print(a)
print(b)
a = ~(-10)
print(a)    # a+1의 음수화

-10
-6
9

Write down your Python code after reading the scenario below.<br>
"A user enters an integer number and the code tells if it is even or odd"

In [16]:
n = int(input('정수를 입력하시오'))
if n %2 == 0:
    print('짝수 입니다')
else:
    print('홀수 입니다.')

홀수 입니다.

the formula to convert Fahrenheit to Celsius

In [17]:
print('Celsius\tFahrenheit')
for i in range(0,101,5):
    print(f'{i}\t{(9/5)*i+32}')

Celsius	Fahrenheit
0	32.0
5	41.0
10	50.0
15	59.0
20	68.0
25	77.0
30	86.0
35	95.0
40	104.0
45	113.0
50	122.0
55	131.0
60	140.0
65	149.0
70	158.0
75	167.0
80	176.0
85	185.0
90	194.0
95	203.0
100	212.0

The list below represents the test scores of a class. Code a Python program that generates the total and average of them

In [18]:
list_a = [70,60,55,75,95,90,80,80,100]

print(sum(list_a), sum(list_a)/len(list_a))

705 78.33333333333333

what will be the output?

In [19]:
a = 2*2//2  # 2
b = 3//2*3  # 3
print(a,b)

2 3

provide your answer when you're given a list

In [1]:
list_ = ['foo', 'bar', 'baz', 'qux','quux', 'corge']
print(list_[:] is list_)   # False // is 연산은 완전히 같아야 함(메모리 주소까지) ==는 True
# [:] 슬라이싱을 하면서 복사가 이뤄짐(얕은 복사)
print(list_[4::-2])     # quux, baz, foo
print(list_[-5:-3])     # bar baz
print(list_[::-1])      # 역순
list_ == list_[:]

False
['quux', 'baz', 'foo']
['bar', 'baz']
['corge', 'quux', 'qux', 'baz', 'bar', 'foo']

True

If we list all natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9.<br>
The sum of these multiples is 23. Find the sum of all the multiples of 3 or 5 below(이하) 1000.

https://www.onabcd.com/153

In [30]:
sum = 0
for i in range(1,1000):
    if i%3==0 or i%5==0:
        sum+=i
print(sum)

233168

In [8]:
dict_a ={}
dict_a['k1'] = "k1"
dict_a['k2'] = "k2"
dict_a['k3'] = "k3"
print(dict_a)
print(list(dict_a.keys()))
print(list(dict_a.values()))
print(list(dict_a.items()))
print(dict_a.get('k1','k4'))
print('k3' in dict_a)

{'k1': 'k1', 'k2': 'k2', 'k3': 'k3'}
['k1', 'k2', 'k3']
['k1', 'k2', 'k3']
[('k1', 'k1'), ('k2', 'k2'), ('k3', 'k3')]
k1
True

## mid-term exam

### 1번

In [1]:

a = ~8
b = 8
print(a+b)

-1

### 2번

In [2]:

for i in range(0, 10):
    if i < 4:
        continue
    elif i == 8:
        break
    else:
        print(i)
print(i)

4
5
6
7
8

### 3번

In [3]:

x = 1

while x <=3:
    print(x, end=":")
    x += 1
else:
    print(x)

1:2:3:4

### 4번

In [4]:

tuple_ = (1, 2, 3)
tuple_[1] = 8
print(tuple_)

TypeError: 'tuple' object does not support item assignment

### 5번

In [5]:
a = 2*2//2
b = 3//2*3
print(a,b)

2 3

### 6번

In [6]:

value = 8
def func():
    value = 16
    print(value, end=":")
print(value)
func()

8
16: